* {
    box-sizing: border-box;
}

html > body > #root {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body {
    
    background-color: #242432;
    /* border: 1px solid white; */
}